@import './variables';


// LEFT SIDE //
.left-side {
    width: 100%;
    height: 100%;
    background-image: url(/img/Iceland.png);
    background-size: cover; 
    background-repeat: no-repeat;
}

.main-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    
}

.main-text-wrapper h1 {
    font-size: clamp(4rem, 27vw, 10rem) ;
    margin-right: 30px;
    line-height: .7em;
    text-align: center;
    writing-mode: vertical-rl;

}



.hr {
    color: $textColor;
}

.hr-container {
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: center;
}


.scroll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    display: none;
}

.icons-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 6.5em;
    margin-bottom: 1em;
}

#west-east {
    font-size: clamp(3rem, 32vw, 12rem);
}

#north-south {
    font-size: clamp(3rem, 28vw, 12rem);
}


// ********************************************* //

// MEDIA QUERY //
@media screen and (min-width: 1700px) {
    .main-text-wrapper h1 {
        font-size: 12rem;
    }

    #west-east {
        font-size: 14rem;
    }

    #north-south {
        font-size: 15rem;
    }
    
}

@media screen and (max-width: 641px) {
    .left-side {
        height: 100vh;
    }

    .scroll-wrapper {
        display: flex;
    }
}

@media screen and (max-width:  320px) {
    .icons-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 4em;
        
    }
    
}
