@import './variables';

body {
    margin: 0;
    padding: 0;
    background-color: $backgroundColor;
    
}

::-webkit-scrollbar {
    width: 0;
}

.progressbar {
    position: fixed;
    top: 0;
    left: 85%;
    width: 1px;
    z-index: 1;
}

.menu-wrapper ul {
    margin-top: -10px;
    margin-left: 200px;
    margin-bottom: 200px;
    list-style: none;
    position: absolute;
}

.menu-item {
    display: block;
    user-select: none;
    margin: 120px 0;
}

.menu-item a {
    font-size: clamp(2rem, 10vw, 10rem);
    font-weight: 600;
    color: rgba(237, 237, 237, .28);
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-item span:before {
    width: 0;
    color: $textColor;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all .8s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.menu-item span:hover:before {
    width: 100%;
}

.project-preview-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
}

.project-preview {
    position: fixed;
    top: 12%;
    left: 50%;
    width: 0;
    height: 400px;
    background: url(/img/Iceland.png) no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
}

@media screen and (max-width: 980px) {
    .progressbar,
    .project-preview-wrapper {
        display: none;
    }
}

@media screen and (max-width: 452px) {
    .menu-wrapper {
        margin-left: -50px;
    }
}


@media screen and (max-width:  320px) {
    .menu-wrapper {
        margin-left: -95px;
    }
}



