@import './variables';

.sidebar .text {
    font-size: 1rem;
    transition: all .3s ease;
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 35%;
    display: flex;
    align-items: center;
    margin-left: -.4em;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    z-index: 3;
    padding: 10px 14px;
    background-color: rgba(4,13,18,.9);
    transition: all .3s ease;
}

.sidebar.close {
    width: 75px;
    background-color: rgba(4,13,18, .5);
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    list-style: none; 
}

.sidebar li a:hover {
   transform: scale(1.1);
}

.sidebar li .text {
   font-size: 1.2rem;
   

}

.sidebar header {
    position: relative;
    margin-top: 1.2em;
} 

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
    margin-left: 1.4em;
}

.header-text .name {
    font-weight: 600;
}

.header-text .by-who {
    margin-top: 2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: rgb(29, 62, 85);
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.sidebar header .toggle:hover,
.sidebar header .toggle:focus {
    background: rgb(24, 47, 64);
}


.sidebar.close header .toggle {
    transform: translateY(-50%);
}

.sidebar li a {
    height: 100%; 
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar li .nav-text {
    margin-left: 1em;
}


.sidebar .menu-bar {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
}

.vertical {
    border-left: 2px solid $textColor;
    height: 8em;
    margin-left: 17px;
    margin-top: 20px;
}

.bxl-instagram, .bxl-twitter, .bxl-gmail, .bx-home-alt-2, .bx-grid-alt, .bx-user-circle{
    font-size: clamp(1.8em, 5vw, 2.5em);
}